.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0em 5em;
    position: relative;
    color: #111625;
    font-family: 'budokanRounded';

    .logo {
        width: 150px;
    }

    >div {
        z-index: 2;
    }

    .navbarBg {
        position: absolute;
        top: 0;
        width: 100%;
        height: 100px;
        left: 0;
    }

    .navitems {
        display: flex;
        gap: 2em;
        font-weight: 800;
        transform: translate(0, -32%);
        font-size: 1.2rem;
        backdrop-filter: blur(1px);
    }

    div button {
        background: #DD8919;
        padding: .5em 2em;
        font-weight: 800;
        border-radius: 5px;
        border: 2px solid #111625;
        position: relative;
        cursor: pointer;
        transition: transform 0.3s ease;
    }

    .offset {
        position: absolute;
        width: 100%;
        height: 100%;
        background: #DD8919;
        border-radius: 5px;
        border: 2px solid #111625;
        top: 20%;
        left: 5%;
        z-index: -1;
    }
}


@media screen and (max-width: 1000px) {
    .navbar {
        padding: 0em 2.5em;

    }
    .navbar .navbarBg {
        width: 140%;
    }

    .navbar div button {
        transform: translate(0, -15%);
    }

    .navbar div .offset {
        display: none;
    }

    // .navbar div .offset {
    //     transform: translate(-20%, -32);
    // }

    // .navbar div button::before {
    //     z-index: -9;
    // }

    
}

@media screen and (max-width: 900px) {
    .navitems {
        display: none !important;
    }
}

@media screen and (max-width: 600px) {
    .navbarBg {
        left: -50% !important;
        height: 120px !important;
        width: 200% !important;
    }

    .navbar button {
        transform: translate(0, 0) !important;
    }
}