@import url('https://fonts.googleapis.com/css2?family=Paytone+One&display=swap');

.main {
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
    justify-content: center;

    .headline {
        font-family: 'Paytone One';
        font-size: 3rem;
        margin-top: 1em;
        text-shadow: none;
        line-height: 1.2;
        color: #111625;
        letter-spacing: 2px;

        span {
            color: #DD8919;
            text-shadow:
            1px 1px 0 #000000,
            5px 2px 0 #000000,
            5px -1px 0 #000000,
            -3px -2px 0 #000;
        }
    }

    .tagline {
        font-family: 'budokanRounded';
        font-size: 1.2rem;
        margin-top: .5em;
        width: 60%;
        color: #111625;
    }

    .img {
        width: 90%;
        margin-top: 1em;
        aspect-ratio: 16/9;
        height: 50%;
    }
}

@media screen and (max-width: 1507px) {
    .main {
        .headline {
            width: 100%;
        }
        .tagline {
            width: 75%;
        }
    }
}

@media screen and (max-width: 1150px) {
    .main {
        .headline {
            font-size: 2.5rem;
        }
    }
}

@media screen and (max-width: 877px) {
    .main {
        .headline {
            font-size: 2.2rem;
        }

        .tagline {
            width: 90%;
        }
    }
}

@media screen and (max-width: 750px) {
    .main {
        .headline {
            font-size: 2rem ;
        }
    }
}

@media screen and (max-width: 700px) {
    .main {
        .headline {
            font-size: 1.7rem ;
        }

        .tagline {
            font-size: 1rem;
        }
    }
}

@media screen and (max-width: 600px) {
    .main {
        .headline {
            font-size: 1.5rem ;
        }

        .tagline {
            font-size: .8rem;
            width: 80%;
        }
    }
}

@media screen and (max-width: 533px) {
    .main {

        br {
            display: none;
        }

        .headline {
            font-size: 1.3rem ;
        }

        .tagline {
            font-size: .7rem;
            width: 90%;
        }
    }
}