@import url('https://fonts.googleapis.com/css2?family=Paytone+One&display=swap');

.parent {
    background: #FFCEAB;
    height: fit-content;
    width: 100vw;

    .img {
        width: 90%;
        margin-top: 1em;
        aspect-ratio: 16/9;
    }
}

